* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    background-color: RGB(69, 41, 20);
}

.container_details {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container_details .header_nav {
    display: block;
    width: 100%;
    height: 100px;
    background-color: #050505;
    position: fixed;
    top: 0;
    left: 0;
}

.container_details .header_nav .header_nav_logo {
    width: 40px;
    height: 40px;
    margin-left: 30px;
    margin-top: 30px
}

.container_details .main_content {
    display: flex;
    padding-top: 100px;
}

.container_details .main_content .video_box {
    width: 1450px;
    height: 800px;
    margin-left: 80px;
    box-shadow: 3px 3px 3px 3px #363535;
}

.container_details .main_content .video_setting_box {
    display: block;
    width: 300px;
    height: 800px;
    margin-left: 15px;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 3px 3px 3px 3px #363535;
    border-radius: 3px;
}

.line_with_text {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 25px;
    margin-top: 30px;
}

.line_with_text::before{
    content:"";
    flex: 1;
    border-bottom: 1px solid white;
    margin-right: 7px;

}

.line_with_text::after{
    content:"";
    flex: 3;
    border-bottom: 1px solid white;
    margin-left: 7px;
}

.container_details .main_content .video_setting_box .video_setting_box_quality {
    display: block;
    margin-top: 35px;
}

.container_details .main_content .video_setting_box .video_setting_box_quality .video_setting_box_quality_text {
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 30px;
}

.container_details .main_content .video_setting_box .video_setting_box_quality .video_setting_box_quality_text:last-child {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 40px;
    margin-left: 0px;
}
.apply_button {
    color: white;
    background-color: rgba(0,0,0,1);
    border-width: 0px;
    border-radius: 10px;
    width: 80%;
    height: 25px;
    text-align: center;
    box-shadow: 3px 3px 3px 3px #2e2c2c;
}

/* login.html */
.profile {
    width: 500px;
    height: 600px;
    display: block;
    margin-top: 5%;
    text-align: center;
}

#makeloginform {
    display: flex;
    justify-content: center;
}

.temp{
    display: block;
    width: 250px;
    height: 90px;
}

#inputId > input, #inputPassword > input, #inputteam > input{
    border-radius: 10px;
    width: 100%;
    height: 40px;
    box-shadow: 2px 2px 2px 2px rgb(27, 27, 27);
    border:none;
}

#inputPassword > input, #inputteam > input {
    margin-top: 10px;
}

input {
    padding-left: 10px;
}

#login{
    border: none;
    border-radius: 10px;
    margin-left: 5px;
    background-color: black;
    color: white;
    width: 70px;
    box-shadow: 2px 2px 2px 2px rgb(27, 27, 27);
}

.login_register {
    margin-top: 20px;
}

.login_image {
    margin-bottom: 20px;
}