.profile_image{
  border-radius: 10px; 
  width: 250px;
  height: 250px;
  border: 1px solid #666666;
}

.profile_name{
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
}