.sub_mypage_info_item{
  width: 80%;
  margin-top: 100px;
  font-size: 18px;
}


.sub_mypage_info_item div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #666666;
}

.item_icon{
  width: 20px;
  height: 20px;
}
