.mypage_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  min-height: 100px; /* height 대신 최소 높이 */
  background: #fff;
  border-bottom: 1px solid #666;
}
.header_logo {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
}

.header_nav {
  display: flex;
  gap: 20px;
}

.header_nav p {
  font-size: 1rem;
  color: #444;
  line-height: 1.5;
  cursor: pointer;
}
.header_nav a {
  text-decoration: none;
}