.mypage_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  min-height: 100px; /* height 대신 최소 높이 */
  background: #fff;
  border-bottom: 1px solid #666;
}

.logo-img {
  height: 40px;  /* 원하는 높이로 설정 */
  width: auto;   /* 비율 유지를 위해 너비는 auto */
  display: block; /* 이미지 하단의 미세한 공백 제거 */
}

.header_nav {
  display: flex;
  gap: 20px;
}

.header_nav p {
  font-size: 1rem;
  color: #444;
  line-height: 1.5;
  cursor: pointer;
}
.header_nav a {
  text-decoration: none;
}